<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
 </head>
 <body style="color:#363636; font-family:sans-serif; font-size:100%;">
  <div style="margin:20px auto; width:100%; max-width:700px;">
   <p>Thank you for your interest in Esperanto and for signing up for the
    <cite>Free Esperanto Course</cite>. Below is the name and email address
    of your personal tutor.</p>
   <p style="marin-left: 30px;">{{tutor.first_name}} {{tutor.last_name}}<br>
    {{tutor.email}}</p>
   <p>Your tutor is anxiously awaiting your first lesson. You can find the
    course material at: <a href="{{lessonsUrl}}">{{lessonsUrl}}</a>. It
    consists of 10 lessons, vocabulary, a list of Esperanto affixes, and a
    table of correlatives.</p>
   <p>Study the first lesson and do the exercises. Then email your answers to
    your instructor together with whatever questions you might have. Your
    instructor will respond to you within a week with possible corrections,
    suggestions, and answers to your questions. Then proceed to the second
    lesson and so on.</p>
   <p>After you finish the tenth lesson, you will receive a diploma for the
    completion of the course.</p>
   <p>--<br>
    Course Administrator: Tomaso Alexander &lt;salivanto@yahoo.com&gt;</p>
  </div> 
 </body>
</html>

