<template>
 <div class="view stats-view container">
  <h1 class="title">Stats</h1>
  <h2 class="subtitle">Review course completion statistics</h2>
  <div class="box">
   <h2 class="subtitle has-text-weight-bold">Signups and Diplomas</h2>
   <g-chart v-if="chartData" type="AreaChart" :data="chartData"/>
  </div>
  <div class="columns">
   <div class="column is-half">
    <h2 class="subtitle has-text-weight-bold">Signups by Month</h2>
    <b-table :data="signups" bordered>
     <template slot-scope="props">
      <b-table-column label="Year">
       {{props.row.year}}
      </b-table-column>
      <b-table-column label="Month">
       {{months[props.row.month]}}
      </b-table-column>
      <b-table-column label="Signups">
       {{props.row.count}}
      </b-table-column>
     </template>
    </b-table>
   </div>
   <div class="column is-half">
    <h2 class="subtitle has-text-weight-bold">Diplomas by Month</h2>
    <b-table :data="diplomas" bordered>
     <template slot-scope="props">
      <b-table-column label="Year">
       {{props.row.year}}
      </b-table-column>
      <b-table-column label="Month">
       {{months[props.row.month]}}
      </b-table-column>
      <b-table-column label="Diplomas">
       {{props.row.count}}
      </b-table-column>
     </template>
    </b-table>
   </div>
  </div>
 </div>
</template>

<script>
import {GChart} from "vue-google-charts";

export default {
    name: "StatsView",

    components: {
        GChart
    },

    data() {
        return {
            months: [
                null, 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
            ],
            signups: [],
            diplomas: [],
            chartData: []
        };
    },

    mounted() {
        this.$http.all([
            this.$http.get("/api/stats/signupsByMonth"),
            this.$http.get("/api/stats/diplomasByMonth")
        ])
            .then(this.$http.spread((signupsResp, diplomasResp) => {
                this.signups = signupsResp.data;
                this.diplomas = diplomasResp.data;

                this.chartData.push(["Month", "Signups", "Diplomas"]);
                for (let i = 0; i <= 12; i++) {
                    this.chartData.push([
                        this.months[this.signups[i].month] + " " + this.signups[i].year,
                        this.signups[i].count,
                        this.diplomas[i].count
                    ]);
                }
                console.log(this.chartData);
            }))
            .catch(error => {
                console.error(error);
            });
    }
};
</script>
