<template>
 <div class="view accounts-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">System: Accounts</h1>
    <h2 class="subtitle">Create and manage users</h2>
   </div>
   <div class="column">
    <button @click="addAccount"
     class="button is-primary is-pulled-right has-margin-left-20">
     <span class="icon"><span class="fas fa-plus"></span></span>
     <strong>New Account</strong>
    </button>
    <json-csv :data="accounts" name="accounts.csv">
     <button class="button is-primary is-pulled-right">
      <span class="icon"><span class="fas fa-download"></span></span>
      <strong>Export as CSV</strong>
     </button>
    </json-csv>
   </div>
  </div>
  <b-table v-if="accounts" :columns="columns" :data="accounts"
   @click="onClick" icon-pack="fas" sort-icon="sort-up"
   bordered hoverable/>
  <b-modal :active.sync="showForm" has-modal-card trap-focus>
   <accounts-form :init="formData" @formClose="onFormClose"/>
  </b-modal>
 </div>
</template>

<script>
import JsonCSV from "vue-json-csv";
import AccountsForm from "../../components/AccountsForm";

export default {
    name: "AccountsView",

    components: {
        AccountsForm,
        JsonCsv: JsonCSV
    },

    data() {
        return {
            accounts: [],
            formData: {},
            showForm: false,
            columns: [
                {
                    label: "First Name",
                    field: "first_name",
                    sortable: true
                },
                {
                    label: "Last Name",
                    field: "last_name",
                    sortable: true
                },
                {
                    label: "Email",
                    field: "email",
                    sortable: true
                }
            ]
        }
    },

    mounted() {
        this.$http.get("/api/accounts")
            .then(response => {
                this.accounts = response.data;
            })
            .catch(error => {
                console.error(error);
            });
    },

    methods: {
        addAccount() {
            this.formData = {action: "Add"};
            this.showForm = true;
        },

        onClick(row) {
            this.formData = {action: "Edit", id: row.id};
            this.showForm = true;
        },

        onFormClose(evt) {
            if (evt.action == "Add") {
                this.accounts.push(evt.account);
            }

            if (evt.action == "Edit") {
                const index = this.accounts.findIndex(account => {
                    return account.id == evt.account.id;
                });
                this.accounts.splice(index, 1, evt.account);
            }

            if (evt.action == "Delete") {
                const index = this.accounts.findIndex(account => {
                    return account.id == evt.account.id;
                });
                this.accounts.splice(index, 1);
            }
        }
    }
}
</script>
