{% if not (site.request.uri.path matches '|/lessons/|') %}
  <footer style="margin-top: 20px;">
   <div class="container">
    <hr>
    <p>Course Administrator: Tomaso <span class="last-name">Alexander</span>
     &lt;salivanto@yahoo.com&gt;</p>
   </div>
  </footer>
{% endif %}
{% if site.environment.GOOGLE_ANALYTICS_ID %}
  <script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', '{{site.environment.GOOGLE_ANALYTICS_ID}}', 'auto'); ga('send', 'pageview');
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}
 </body>
</html>
