<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{page.title}} | Free Esperanto Course</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="index,follow,noodp">
  <meta name="description" content="{{page.description}}">
  <meta property="og:url" content="{{site.request.uri.scheme}}://{{site.request.uri.host}}{{site.request.uri.path}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}} | Free Esperanto Course">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:image" content="{{site.request.uri.scheme}}://{{site.request.uri.host}}/img/og_image.jpg">
  <meta property="og:locale" content="en">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
  <link rel="shortcut icon" href="/favicon.ico?v=1">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.min.js"></script>
 </head>
 <body style="margin-top:20px; margin-bottom: 40px;">
  <header style="margin-bottom: 20px;">
   <div class="container">
    <h1 class="title">Free Esperanto Course</h1>
   </div>
  </header>
