<form method="post" action="/signup">
 <div class="field">
  <label class="label">Name</label>
  <div class="control">
   <input type="text" class="input" name="name">
  </div>
 </div>
 <div class="field">
  <label class="label">Email</label>
  <div class="control">
   <input type="email" class="input" name="email"/>
  </div>
 </div>
 <p class="field">
  Please double check your email address! The course correspondence will
  obviously fail if you do not provide a working email address.
 </p>
 <div class="field">
  <div class="control">
   <button type="submit" class="button is-primary">Submit</button>
  </div>
 </div>
</form>
