<template>
 <div class="view pages-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">Content: Pages</h1>
    <h2 class="subtitle">Create pages and manage site content</h2>
   </div>
   <div class="column">
    <button :disabled="isEditing" @click="addPage" class="button is-primary is-pulled-right">
     <span class="icon"><span class="fas fa-plus"></span></span>
     <strong>New Page</strong>
    </button>
   </div>
  </div>
  <div v-if="!isEditing">
   <b-table v-if="pages" :columns="columns" :data="pages"
     @click="onClick" icon-pack="fas" sort-icon="sort-up"
     bordered hoverable/>
  </div>
  <div v-if="isEditing">
   <pages-form :init="formData" @formClose="onFormClose"/>
  </div>
 </div>
</template>

<script>
import PagesForm from "../../components/PagesForm";

export default {
    name: "PagesView",

    components: {
        PagesForm
    },

    data() {
        return {
            isEditing: false,
            pages: [],
            columns: [
                {
                    label: "Title",
                    field: "title",
                    sortable: true
                },
                {
                    label: "Path",
                    field: "path",
                    sortable: true
                }
            ],
            formData: {}
        };
    },

    mounted() {
        this.$http.get("/api/pages")
            .then(response => {
                this.pages = response.data;
            })
            .catch(error => {
                console.error(error);
            });
    },

    methods: {
        addPage() {
            this.formData = {action: "Add"};
            this.isEditing = true;
        },

        onClick(row) {
            this.formData = {action: "Edit", id: row.id};
            this.isEditing = true;
        },

        onFormClose(evt) {
            if (evt.action == "Add") {
                this.pages.push(evt.page);
            }

            if (evt.action == "Edit") {
                const index = this.pages.findIndex(page => {
                    return evt.page.id == page.id;
                });
                this.pages.splice(index, 1, evt.page);
            }

            if (evt.action == "Delete") {
                const index = this.pages.findIndex(page => {
                    return evt.page.id == page.id;
                });
                this.pages.splice(index, 1);
            }

            this.isEditing = false;
        }
    }
}
</script>
