<template>
 <div class="diploma-preview">
  <div class="name">{{name}}</div>
  <div class="date">{{date}}</div>
 </div>
</template>

<script>
import moment from "moment";

export default {
    name: "DiplomaPreview",

    props: {
        name: String
    },

    data() {
        return {
            date: moment().locale("eo").format("D MMMM YYYY")
        }
    }
}
</script>

<style scoped>
@font-face {
  font-family: "century_751bold";
  src: url("/css/century751bt-boldb-webfont.woff2") format("woff2"),
       url("/css/century751bt-boldb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.diploma-preview {
  background: url("/img/diploma-blank.png") no-repeat center;
  background-size: contain;
  border: 1px solid #dbdbdb;
  font-family: "century_751bold";
  position: relative;
  height: 717px;
  width: 928px;
}

.name {
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 360px;
  width: 100%;
}

.date {
  font-size: 20px;
  left: 150px;
  position: absolute;
  text-align: center;
  top: 560px;
  width: 240px;
}
</style>
