<template>
 <div class="view diplomas-view container">
  <h1 class="title">Diplomas</h1>
  <h2 class="subtitle">Send diplomas to those who have completed the course</h2>
  <form @submit.prevent="onSubmit">
   <div class="field">
    <label class="label">Name</label>
    <div class="control">
     <input v-model="form.name" type="text" class="input"/>
    </div>
   </div>
   <div class="field">
    <label class="label">Email</label>
    <div class="control">
     <input v-model="form.email" type="text" class="input"/>
    </div>
   </div>
   <div class="field">
    <label class="label">Preview</label>
    <div class="control">
     <diploma-preview :name="form.name"></diploma-preview>
    </div>
   </div>
   <div class="field is-grouped">
    <div class="control">
     <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
     <button type="submit" class="button is-primary">Submit</button>
    </div>
    <div class="control">
<!-- <input type="reset" class="button is-text" value="Cancel"/> -->
    </div>
   </div>
  </form>
 </div>
</template>

<script>
import DiplomaPreview from "./DiplomaPreview.vue";

export default {
    name: "DiplomasView",

    components: {
        DiplomaPreview
    },

    data() {
        return {
            isSubmitting: false,
            form: {
                name: "",
                email: ""
            }
        }
    },

    methods: {
        onSubmit() {
            this.isSubitting = true;
            this.$http.post("/api/diploma", this.form)
                .then(response => {
                    this.isSubmitting = false;
                    this.$buefy.toast.open({
                        message: "Diploma sent",
                        type: "is-success"
                    });
                    this.form.name = "";
                    this.form.email = "";
                })
                .catch(error => {
                    this.isSubmitting = false;
                    console.error(error);
                });
        }
    }
}
</script>
