<template>
 <div class="pages-form">
  <vue-element-loading :active="init.action != 'Add' && isLoading" spinner="bar-fade-scale"/>
  <form @submit.prevent="onSubmit" @reset="onReset">
   <div class="field">
    <label class="label">Path</label>
    <div class="control">
     <input v-model="form.path" type="text" class="input" maxlength="100" autocomplete="off"/>
    </div>
   </div>
   <div class="field">
    <label class="label">Title</label>
    <div class="control">
     <input v-model="form.title" type="text" class="input" maxlength="100" autocomplete="off"/>
    </div>
   </div>
   <div class="field">
    <label class="label">Description</label>
    <div class="control">
     <input v-model="form.description" type="text" class="input" maxlength="255" autocomplete="off"/>
    </div>
   </div>
   <div class="field">
    <label class="label">Content</label>
    <div class="control">
     <editor v-model="form.content" :init="editorInit"></editor>
    </div>
   </div>
   <div class="field">
    <label class="label">Page Template</label>
    <div class="control">
     <div class="select">
      <select v-model="form.template">
       <option value="default">Default</option>
       <option value="full-width">Full width</option>
      </select>
     </div>
    </div>
   </div>
   <div v-if="init.action == 'Edit'" class="field">
    <div class="control">
     <label class="checkbox">
      <input v-model="isDelete" type="checkbox"> Delete
     </label>
    </div>
   </div>
   <div class="field is-grouped">
    <div class="control">
     <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
     <button type="submit" class="button is-primary">Submit</button>
    </div>
    <div class="control">
     <input type="reset" class="button is-text" value="Cancel"/>
    </div>
   </div>
  </form>
 </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";

export default {
    name: "PagesForm",

    props: {
        init: Object
    },

    data() {
        return {
            isLoading: true,
            isSubmitting: false,
            isDelete: false,
            editorInit: {
                theme: 'modern',
                height: 450,
                plugins: 'lists link image preview anchor code media table contextmenu imagetools wordcount',
                menubar: false,
                toolbar: 'styleselect | bold italic | bullist numlist table | link anchor image media | preview code',
                image_advtab: true,
                body_class: 'content',
                content_css: '/css/styles.css',
                document_base_url: '/',
                convert_urls: false,
                valid_elements: '*[*]',
                branding: false
            },
            form: {}
        };
    },

    components: {
        editor: Editor
    },

    mounted() {
        if (this.init.action == "Add") {
            this.form = {template: "default"};
            this.isLoading = false;
            return;
        }

        this.$http.get("/api/pages/" + this.init.id)
            .then(response => {
                this.form = response.data;
                this.isLoading = false;
            })
            .catch(error => {
                console.error(error);
            });
    },

    methods: {
        onSubmit() {
            this.isSubmitting = true;

            if (this.init.action == "Add") {
                this.$http.post("/api/pages", this.form)
                    .then(response => {
                        this.$emit("formClose", {
                            action: "Add",
                            page: {
                                id: response.data.id,
                                title: this.form.title,
                                path: this.form.path
                            }
                        });
                    })
                    .catch(error => {
                        this.isSubmitting = false;
                        console.error(error);
                    });
                return;
            }

            if (this.isDelete) {
                this.$http.delete("/api/pages/" + this.init.id)
                    .then(response => {
                        this.$emit("formClose", {
                            action: "Delete",
                            page: {id: this.init.id}
                        });
                    })
                    .catch(error => {
                        this.isSubmitting = false;
                        console.error(error);
                    });
                return;
            }

            this.$http.put("/api/pages/" + this.init.id, this.form)
                .then(response => {
                    this.$emit("formClose", {
                        action: "Edit",
                        page: {
                            id: this.init.id,
                            title: this.form.title,
                            path: this.form.path
                        }
                    });
                })
                .catch(error => {
                    this.isSubmitting = false;
                    console.error(error);
                });
        },

        onReset() {
            this.$emit("formClose", {action: "Reset"});
        }
    }
}
</script>

