<template>
 <div id="app">
  <progress v-if="isLoading" class="progress is-primary is-xsmall"></progress>
  <TheNavbar v-if="!isAuthTokenExpired"></TheNavbar>
  <main class="main has-margin-top-20 has-margin-bottom-40">
   <router-view></router-view>
  </main>
 </div>
</template>

<script>
import {mapGetters} from "vuex";
import TheNavbar from "./components/TheNavbar";

export default {
    name: "App",

    components: {
        TheNavbar
    },

    computed: {
        ...mapGetters("app", ["isLoading"]),
        ...mapGetters("auth", ["isAuthTokenExpired"])
    }
};
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";

$primary: #209CEE;
$primary-invert: findColorInvert($primary);

@use "sass:map";
$colors: map-merge($colors, (
    "primary": ($primary, $primary-invert)
));

$table-head-background-color: $background;

@import "bulma";
@import "buefy/src/scss/buefy";
@import "bulma-helpers/bulma-helpers.sass";
</style>

<style scoped>
.progress.is-xsmall {
    width: 100%;
    position:absolute;
    z-index: 100;
    height: .25rem;
}
</style>
