<template>
 <div class="view login-view hero is-fullheight is-dark">
  <div class="hero-body">
   <div class="container">
    <div class="has-text-centered">
     <h1 class="title">Login</h1>
    </div>
    <div class="column is-one-third is-offset-one-third">
     <form @submit.prevent="submit" class="box">
      <div class="field">
       <label class="label">Email Address</label>
       <div class="control">
        <input v-model="form.email" name="email" type="email" class="input"/>
       </div>
      </div>
      <div class="field">
       <label class="label">Password</label>
       <div class="control">
        <input v-model="form.password" name="password" type="password" class="input"/>
       </div>
      </div>
      <div class="field is-grouped">
       <div class="control">
        <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
        <button :disabled="isSubmitting" name="submit" type="submit" class="button is-primary">
         Submit
        </button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
</template>

<script>
import axios from "axios";
import NotifierService from "../../services/notifier";

export default {
    name: "LoginView",

    data() {
        return {
            isSubmitting: false,
            form: {
                email: "",
                password: "",
            }
        }
    },

    methods: {
        submit() {
            this.isSubmitting = true;
            axios.post("/api/auth", this.form)
                .then((response) => {
                    return this.$store.dispatch("auth/setAuthToken", response.data.authToken);
                })
                .then(() => {
                    this.$router.push({name: "index"});
                    NotifierService.send("login");
                })
                .catch((error) => {
                    this.$buefy.toast.open({
                        message: "Error: Login failed",
                        type: "is-danger"
                    });
                    console.log(error);
                    this.isSubmitting = false;
                });
        }
    }
};
</script>

<style scoped>
.login-view {
  margin-top: -20px;
}
</style>
